<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/marker.svg" width="30" height="30" alt="">
        {{title}}
    </a>
    <button class="navbar-toggler" type="button" (click)="sidebarService.toggleCollapse()"
    [attr.aria-expanded]="!sidebarService.isCollapsed"  aria-controls="sidebar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span><span class="badge badge-primary badge-pill">{{markerService.favoriteMarkers.length}}</span>
    </button>
</nav>
