<app-sidebar></app-sidebar>
<agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude">
  <agm-marker *ngFor="let marker of markerService.markers" [latitude]="marker.coordinates.latitude" [longitude]="marker.coordinates.longitude">
    <agm-info-window>
      <div class="card">
        <strong class="card-header">{{marker.name}}</strong>
        <div class="card-body">
          <p class="card-text"><small>{{marker.address}}</small></p>
          <a href="#" class="btn btn-success btn-sm">Añadir a favoritos</a>
        </div>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
